access_key_id: MY_ACCESS_KEY
secret_access_key: MY_SECRET_ACCESS_KEY
keypair_name: kai-demo
keypair_path: /Users/kai/.ssh/kai-demo.pem
instance_name_prefix: kai
builderami: ami-3cf8b154
runnerami: ami-c3dc3da8
instance_type: c3.xlarge